body {
background-color: #1F1F1F;
}

h1 {

color: #4EB1BA;
font-size: 100px;
}

h2 {
color: #4EB1BA;
font-size: 60px;
}

p {
text-align: center;
color: #E9E9E9;
font-size:25px;
}

ul {
margin-left:25%;
	color: #4EB1BA;
	font-size:20px;
}

li {
	color: #E9E9E9;
	font-size:15px;
}

img {
	display: block;
    margin-left: 25%;
    margin-right: -25%;
    border: 12px #4EB1BA inset;
}

.header {
  padding: 20px;
  text-align: center;
  background: #3F3F3F;
  color: #4EB1BA;
}
a {
  color: #4EB1BA;
}
